* {
  box-sizing: border-box;
  margin: 0;
  width: auto;
}

/* /// HEADER /// */

.container-header {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 18px 20px 94px 17px;
  background-color: rgb(255, 255, 255);
}

@media (min-width: 769px) {
  .container-header {
    height: auto;
    width: 100%;
    margin: auto;
    padding-bottom: 76px;
  }
}

.logo {
  width: 150px;
  height: 60px;
  margin: 0px;
}

@media (min-width: 769px) {
  .logo {
    height: 70px;
    width: 180px;
    margin: 36px 0px 0px 80px;
  }
}

.navigation {
  display: none;
}

@media (min-width: 769px) {
  .navigation {
    height: 28px;
    width: 428px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    margin: 62px 75px auto auto;
  }
}

.menu {
  height: 32px;
  width: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.option {
  width: 36px;
  height: 6px;
  background-color: black;
}

@media (min-width: 769px) {
  .option {
    display: none;
  }
}

.container-main {
  height: 530px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

@media (min-width: 769px) {
  .container-main {
    height: 400px;
    width: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 80px;
  }
}

.title {
  font-family: "Open Sans";
  font-size: 48px;
  height: 96px;
  width: 291px;
  text-align: center;
  font-weight: 700;
  line-height: 48px;
}

@media (min-width: 769px) {
  .title {
    height: 96px;
    width: 313px;
    text-align: left;
  }
}

.img-principal {
  height: 300px;
  width: 318px;
}

@media (min-width: 769px) {
  .img-principal {
    height: 400px;
    width: auto;
  }
}

/* /// SECTION ONE /// */

.section-one {
  height: 538px;
  width: 100%;
  background-color: #141414;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

@media (min-width: 769px) {
  .section-one {
    height: 538px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.container-section-one {
  height: 346px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #141414;
  margin: 0px auto;
}

@media (min-width: 769px) {
  .container-section-one {
    height: 335px;
    width: 833px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
}

.subcont-sec-one {
  height: 209px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 769px) {
  .subcont-sec-one {
    height: 237px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.subtitle {
  font-family: "Open Sans";
  font-size: 32px;
  font-weight: 700px;
  color: #ffff;
}

@media (min-width: 769px) {
  .subtitle {
    height: 44px;
    width: 271px;
  }
}

.text-body {
  height: auto;
  width: 312px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400px;
  text-align: center;
  line-height: 18px;
  color: #ffff;
}

@media (min-width: 769px) {
  .text-body {
    height: 165px;
    width: 532px;
    text-align: left;
    font-size: 24px;
    line-height: 28px;
  }
}

.check {
  height: 80px;
  width: 80px;
}

@media (min-width: 769px) {
  .check {
    height: 211px;
    width: auto;
  }
}

/* /// SECTION TWO /// */

.section-two {
  height: 1375px;
  width: 100%;
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 769px) {
  .section-two {
    height: 604px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.subtitle-two {
  height: 56px;
  width: 271px;
  font-family: "Open Sans";
  font-size: 32px;
  font-weight: 700px;
  display: flex;
  justify-content: center;
  line-height: 43px;
  padding-top: 50px;
  color: #2c2c2c;
}

@media (min-width: 769px) {
  .subtitle-two {
    height: 56px;
    width: 403px;
    text-align: center;
    font-size: 48px;
    line-height: 48px;
    padding: 60px 80px 50px 0px;
  }
}

.container-section-two {
  height: 1233px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 66px;
}

@media (min-width: 769px) {
  .container-section-two {
    height: 604px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

.subcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.subcontainer-subtitle {
  font-family: "Roboto";
  font-weight: 700;
  font-weight: 24px;
  margin: 18px 52px 15px 52px;
}

@media (min-width: 769px) {
  .subcontainer-subtitle {
    font-size: 24px;
    line-height: 28px;
  }
}

.caption {
  font-family: "Roboto";
  font-weight: 400;
  font-weight: 16px;
  height: 117px;
  width: 262px;
  text-align: center;
}

@media (min-width: 769px) {
  .caption {
    font-size: 16px;
    line-height: 18px;
  }
}

.caption-extra {
  font-family: "Roboto";
  font-weight: 400;
  font-weight: 16px;
  height: 117px;
  width: 262px;
  margin: 0px 57px 66px 57px;
  text-align: center;
}

@media (min-width: 769px) {
  .caption-extra {
    margin-bottom: 0px;
  }
}

/* /// SECTION THREE /// */

.section-three {
  width: auto;
  height: 660px;
  margin: 0 auto;
  background-color: #141414;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 769px) {
  .section-three {
    height: 660px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

.container-form {
  height: 540px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 769px) {
  .container-form {
    width: 724px;
    height: 428px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 116px 412px 116px 304px;
  }
}

.subtitle-form {
  height: 56px;
  width: 271px;
  font-family: "Open Sans";
  font-size: 32px;
  font-weight: 700px;
  text-align: center;
  color: #ffff;
}

@media (min-width: 769px) {
  .subtitle-form {
    height: 56px;
    width: 271px;
    text-align: right;
    font-size: 48px;
    margin: 0px 77px 0px 0px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@media (min-width: 769px) {
  .form {
    height: 428px;
    width: 376px;
    display: flex;
    flex-direction: column;
  }
}

.label {
  height: 15px;
  width: 100%;
  display: flex;
  font-family: "Roboto";
  font-size: 13px;
  font-weight: 400;
  margin: 0 auto;
  color: #ffffff;
}

.input-box {
  height: 45px;
  width: 300px;
  margin: 9px 0px 27px 0px;
}

.input-message {
  height: 113px;
  width: 310px;
  margin: 9px 0px 60px 0px;
}

.button {
  height: 45px;
  width: 300px;
  background-color: #ffd953;
  border-radius: 4px;
  font-family: "Roboto";
  font-size: 16px;
  font-style: bold;
  font-weight: 700;
}

/* /// FOOTER /// */

.container-footer {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #dbdbdb;
}

@media (min-width: 769px) {
  .container-footer {
    height: 346px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: space-around;
  }
}

.subcont-footer {
  height: 327px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 25px;
  background-color: #dbdbdb;
}

@media (min-width: 769px) {
  .subcont-footer {
    height: 156px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0px;
    padding-left: 20px;
  }
}

/* /// LOGO & COPYRIGHT /// */

.container-logo {
  height: 104px;
  width: 108px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 769px) {
  .container-logo {
    width: 158px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 60px;
  }
}

.logo-footer {
  height: 50px;
  width: 130px;
  margin-bottom: 10px;
}

@media (min-width: 769px) {
  .logo-footer {
    height: 60px;
    width: auto;
  }
}

.caption-footer {
  font-family: "Roboto";
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  color: #2c2c2c;
  margin: 0px;
}

/* /// LINKS /// */

.container-links {
  height: 138px;
  width: 108px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 769px) {
  .container-links {
    padding-right: 250px;
  }
}

.instagram {
  width: 113px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linkedin {
  width: 100px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.github {
  width: 86px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  margin-left: 5px;
}
